<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Admin Dashboard</h1>

<section id="users">
  
</section>

<section id="all-tickets">

</section>

<%- include('../partials/footer') %>