
</head>
<body>
  <nav class="nav justify-content-end align-baseline p-3">
    <% if (user) { %>
      <a href="/auth/logout" class="nav-link">
        Logout
      </a>
      <% if (profile.isAdmin) {%> 
      <a href="/admin" class="nav-link">
        Admin Dashboard</a>
      <% } %> 
    <% } else { %>
      <a href="/auth/google" class="nav-link">Login
      </a>
    <% } %>
  </nav>
