<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/siwg.css">
</head> 

<main class="d-flex flex-column justify-content-center min-vh-100">
  <h1>Welcome to GasPass</h1>
  <div id="logo-container" class="m-5">
    <img src="/images/logo-small.png" alt="Gas Pass Logo">
  </div>
  <a href="/auth/google" class="siwg-link">
    <button type="submit" class="siwg">
      <img id="siwg-image" alt="Sign in with Google" />
    </button>
  </a>
</main>

<%- include('./partials/footer') %>
