
h4 {
  color: green;
  font-size: 3em;
  margin: 1em 0;
}

h2 {
  margin-bottom: 5rem;
}

li {
  padding: 10px 5px;
}

.list-group {
  font-size: 2em;
}

.index-card {
  border: 1px solid white;
  padding: 2em;
  margin: 4em;
  border-radius: 10px;
}

.bg-primary {
  background-color: green;
}